<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <table>
      <tr th:each="product : ${products}" th:object="${product}">
          <td th:text="*{id}"></td>
          <td th:text="*{name}"></td>
          <td th:text="*{category.name}"></td>
      </tr>
  </table>

</body>
</html>